extends layout

block content
  h1 Clients
  a.btn.btn-primary(href="/users/create" style="float:right; margin-bottom: 5px;")
    span.fas.fa-plus.fa-lg

  .d-lg-inline-flex.flex-row.p-1
    form.search-form.d-inline-flex.p-1(action='/users/view')
      input.form-control(type='search' name='term' placeholder='Search for Clients...' style="margin: 0 5px 0 0;")
      input.form-control.btn.btn-primary(type='submit' value='Search' style="max-width: 30%;")

  table.table.table-striped
    thead
      tr
        th(scope="col" style="width: 40%;") Name
        th(scope="col" style="width: 20%;") Customer Since
        th(scope="col" style="width: 10%;") Due
        th(scope="col" style="width: 10%; text-align: center;")
    tbody
      each user in users
        tr
          td 
            b=user.first_name + " " + user.last_name
            |#[br]
            =user.organization
          -var date = (new Date(user.createdAt)).toLocaleString('en-US', { month: 'long', year: 'numeric' });
          td=date
          -var left = (parseFloat(user.due)-parseFloat(user.paid))
          td="$"+left
          td(style="text-align: center;")
            a.btn.btn-primary(href='/users/view/'+user.id role="button" style="margin-right: 5px;")
              span.far.fa-eye.fa-sm
            a.btn.btn-secondary(href='/users/edit/'+user.id role="button" style="margin-left: 5px;")
              span.far.fa-edit.fa-sm
