extends layout

block content
  if client
    h1 Edit Client
  else
    h1 Create Client
  br
  form.needs-validation(method='POST' action=(client ? '/users/edit' : '/users/create') id="form_registration" novalidate)
    .row
      .col
        label First Name:
        input.form-control(name='first_name' type='text' value=(client ? client.first_name : '') required maxlength='25')
      .col
        label Last Name:
        input.form-control(name='last_name' type='text' value=(client ? client.last_name : '') required maxlength='25')
    .row
      .col
        label Email:
        input.form-control(name='email' type='email', value=(client ? client.email : '') required maxlength='50' pattern="^\\w+([-+.']\\w+)*@\\w+([-.]\\w+)*\\.\\w+([-.]\\w+)*$") 
    br
    h2 Business Info
    .row
      .col 
        label Organization:
        input.form-control(name='organization' type='text' value=(client ? client.organization : '') required maxlength='25')
      .col 
        label Department:
        input.form-control(name='department' type='text' value=(client ? client.department : '') maxlength='25')
      .col 
        label Research Area:
        select.custom-select(name='research_area' id='research_area')
          option(value='' selected=(entry == null))
          option(value='cancer' selected=(client != null && client.research_area === 'cancer')) Cancer
          option(value='neuroscience' selected=(client != null && client.research_area === 'neuroscience')) Neuroscience
          option(value='stem_cell' selected=(client != null && client.research_area === 'stem_cell')) Stem Cell
          option(value='virology' selected=(client != null && client.research_area === 'virology')) Virology
          option(value='epigenetics' selected=(client != null && client.research_area === 'epigenetics')) Epigenetics
          option(value='cardiovascular_disease' selected=(client != null && client.research_area === 'cardiovascular_disease')) Cardiovascular Disease
    .row
      .col 
        label Address:
        textarea.form-control(rows="5" name="address" required) #{(client) ? client.address : ""}
    .form-row
      .col
        label City:
        input.form-control(name='city' type='text' value=(client ? client.city : '') maxlength='25' required)
        div.invalid-feedback We need to know where you live!
      .col-2
        label State:
        select.custom-select(name='state' required)
          option(selected disabled hidden)
          option(value='AL' selected=(client != null && client.state === 'AL')) AL
          option(value='AK' selected=(client != null && client.state === 'AK')) AK
          option(value='AR' selected=(client != null && client.state === 'AR')) AR
          option(value='AZ' selected=(client != null && client.state === 'AZ')) AZ
          option(value='CA' selected=(client != null && client.state === 'CA')) CA
          option(value='CO' selected=(client != null && client.state === 'CO')) CO
          option(value='CT' selected=(client != null && client.state === 'CT')) CT
          option(value='DC' selected=(client != null && client.state === 'DC')) DC
          option(value='DE' selected=(client != null && client.state === 'DE')) DE
          option(value='FL' selected=(client != null && client.state === 'FL')) FL
          option(value='GA' selected=(client != null && client.state === 'GA')) GA
          option(value='HI' selected=(client != null && client.state === 'HI')) HI
          option(value='IA' selected=(client != null && client.state === 'IA')) IA
          option(value='ID' selected=(client != null && client.state === 'ID')) ID
          option(value='IL' selected=(client != null && client.state === 'IL')) IL
          option(value='IN' selected=(client != null && client.state === 'IN')) IN
          option(value='KS' selected=(client != null && client.state === 'KS')) KS
          option(value='KY' selected=(client != null && client.state === 'KY')) KY
          option(value='LA' selected=(client != null && client.state === 'LA')) LA
          option(value='MA' selected=(client != null && client.state === 'MA')) MA
          option(value='MD' selected=(client != null && client.state === 'MD')) MD
          option(value='ME' selected=(client != null && client.state === 'ME')) ME
          option(value='MI' selected=(client != null && client.state === 'MI')) MI
          option(value='MN' selected=(client != null && client.state === 'MN')) MN
          option(value='MO' selected=(client != null && client.state === 'MO')) MO
          option(value='MS' selected=(client != null && client.state === 'MS')) MS
          option(value='MT' selected=(client != null && client.state === 'MT')) MT
          option(value='NC' selected=(client != null && client.state === 'NC')) NC
          option(value='NE' selected=(client != null && client.state === 'NE')) NE
          option(value='NH' selected=(client != null && client.state === 'NH')) NH
          option(value='NJ' selected=(client != null && client.state === 'NJ')) NJ
          option(value='NM' selected=(client != null && client.state === 'NM')) NM
          option(value='NV' selected=(client != null && client.state === 'NV')) NV
          option(value='NY' selected=(client != null && client.state === 'NY')) NY
          option(value='ND' selected=(client != null && client.state === 'ND')) ND
          option(value='OH' selected=(client != null && client.state === 'OH')) OH
          option(value='OK' selected=(client != null && client.state === 'OK')) OK
          option(value='OR' selected=(client != null && client.state === 'OR')) OR
          option(value='PA' selected=(client != null && client.state === 'PA')) PA
          option(value='RI' selected=(client != null && client.state === 'RI')) RI
          option(value='SC' selected=(client != null && client.state === 'SC')) SC
          option(value='SD' selected=(client != null && client.state === 'SD')) SD
          option(value='TN' selected=(client != null && client.state === 'TN')) TN
          option(value='TX' selected=(client != null && client.state === 'TX')) TX
          option(value='UT' selected=(client != null && client.state === 'UT')) UT
          option(value='VT' selected=(client != null && client.state === 'VT')) VT
          option(value='VA' selected=(client != null && client.state === 'VA')) VA
          option(value='WA' selected=(client != null && client.state === 'WA')) WA
          option(value='WI' selected=(client != null && client.state === 'WI')) WI
          option(value='WV' selected=(client != null && client.state === 'WV')) WV
          option(value='WY' selected=(client != null && client.state === 'WY')) WY
      .col-4
        label ZIP:
        input.form-control(name='zip' type='text' value=(client ? client.zip : '') pattern='[0-9]*' maxlength="5" required)
    .row 
      .col
        label Phone:
        input.form-control(name='phone' type='text' value=(client ? client.phone : '') pattern="^[1-9]{1}\\d{5}\\d{4}$" required='true')
        div.invalid-feedback Please enter a 10-digit phone number without any dashes or parentheses.
    .row 
      .col(id='po_num_col')
        label PO #:
        input.form-control(name='po_num' type='text' value=(client ? client.po_num : ''))  
    span(style="float: right; padding: 10px 0px 10px 0px;")
      input(type='hidden' name='id' value=(client ? client.id : ''))
      input.btn.btn-primary(type='submit' value=(client ? 'Update' : 'Create'))
    if client
      span(style="float: left; padding: 10px 0px 10px 0px;")
        button.btn.btn-danger.deleteButton(type="button" name="id" value=client.id data-toggle='modal' data-target='#DeleteModal') Delete

  .container
    #DeleteModal.modal.fade(tabindex="-1" role="dialog" aria-labelledby="DeleteModal" aria-hidden="true")
      .modal-dialog
        .modal-content
          .modal-header
            h5.modal-title Delete
            button.close(type="button" data-dismiss="modal" aria-hidden="true") &times;
          .modal-body
            p
              | Click &apos;Delete&apos; to 
              strong permanently
              |  delete this record. Click &apos;Cancel&apos; to cancel your action.
          .modal-footer
            button.btn.btn-secondary(type="button" data-dismiss="modal") Cancel
            button.btn.btn-danger.deleteModal(type="button" data-dismiss="modal" id="delete" value=1) Delete
  script.
    $('.deleteButton').on('click', function(e) {
      var itemId = $(e.target).attr('value');
      console.log(itemId);
      $(".deleteModal").val(itemId); 
    });

    $('.deleteModal').on('click', function(e){
      console.log('here');
      $target = $(e.target);
      $.ajax({
        type: 'POST',
        url: '/users/delete/'+$target.attr('value'),
        dataType: 'json',
        success: function(response){
          if (response.redirect !== undefined && response.redirect) {
            window.location.href = response.redirect;
          }
        }
      });
    }); 
  script(src='/js/formval.js')