extends layout

block content
  h1 
    form(method='POST', action='/contact/send')
      #form-group
        label Name:
        input.form-control(name='name', type='text')
      #form-group
        label Email:
        input.form-control(name='email', type='email')
      #form-group
        label Subject:
        input.form-control(name='subject', type='text')  
      #form-group
        label Research Area
        select#available.form-control(name='researchArea')
          option Cancer
          option Stem Cell
      #form-group
        label Message:
        textarea.form-control(name='message')
      br
      input.btn.btn-primary(type='submit', value='Submit')