extends layout

block content
  h1 Edit Profile
    br
    h2 Change password
    form.needs-validation(method='POST' action=('/users/edit_account_password') id="form_edit_account_password" novalidate)
      .row
        .col
          label New Password:
          input.form-control(name='password' id='password' type='password')
          div.invalid-feedback The password does not match.
      .row
        .col
          label Confirm New Password:
          input.form-control(name='password2' id="password2" type='password')
      span(style="float: right; padding: 10px 0px 0px 0px;")
        input.btn.btn-primary(type='submit' value=('Update'))    
  br
  br
  form.needs-validation(method='POST' action=('/users/edit_account') id="form_edit_account" novalidate)
    .row
      .col
        label First Name:
        input.form-control(name='first_name' type='text' value=(user.first_name) required maxlength='25')
      .col
        label Last Name:
        input.form-control(name='last_name' type='text' value=(user.last_name) required maxlength='25')
    .row
      .col
        label Email:
        input.form-control(name='email' type='email', value=(user.email) required maxlength='50' pattern="^\\w+([-+.']\\w+)*@\\w+([-.]\\w+)*\\.\\w+([-.]\\w+)*$")
    br
    h2 Business Info
    .row
      .col 
        label Organization:
        input.form-control(name='organization' type='text' value=(user.organization) required maxlength='25')
      .col 
        label Department:
        input.form-control(name='department' type='text' value=(user.department) maxlength='25')
      .col 
        label Research Area:
        select.custom-select(name='research_area')
          option(value='cancer' selected=(user.research_area === 'cancer')) Cancer
          option(value='neuroscience' selected=(user.research_area === 'neuroscience')) Neuroscience
          option(value='stem_cell' selected=(user.research_area === 'stem_cell')) Stem Cell
          option(value='virology' selected=(user.research_area === 'virology')) Virology
          option(value='epigenetics' selected=(user.research_area === 'epigenetics')) Epigenetics
          option(value='cardiovascular_disease' selected=(user.research_area === 'cardiovascular_disease')) Cardiovascular Disease
    .row
      .col 
        label Address:
        textarea.form-control(rows="5" name="address" required maxlength="500") #{user.address}
    .form-row
      .col-md
        label City:
        input.form-control(name='city' type='text' value=(user.city) maxlength='25' required)
        div.invalid-feedback We need to know where you live!
      .col-sm-90
        label State:
        select.custom-select(name='state' required)
          option(selected disabled hidden)
          option(value='AL' selected=(user != null && user.state === 'AL')) AL
          option(value='AK' selected=(user != null && user.state === 'AK')) AK
          option(value='AR' selected=(user != null && user.state === 'AR')) AR
          option(value='AZ' selected=(user != null && user.state === 'AZ')) AZ
          option(value='CA' selected=(user != null && user.state === 'CA')) CA
          option(value='CO' selected=(user != null && user.state === 'CO')) CO
          option(value='CT' selected=(user != null && user.state === 'CT')) CT
          option(value='DC' selected=(user != null && user.state === 'DC')) DC
          option(value='DE' selected=(user != null && user.state === 'DE')) DE
          option(value='FL' selected=(user != null && user.state === 'FL')) FL
          option(value='GA' selected=(user != null && user.state === 'GA')) GA
          option(value='HI' selected=(user != null && user.state === 'HI')) HI
          option(value='IA' selected=(user != null && user.state === 'IA')) IA
          option(value='ID' selected=(user != null && user.state === 'ID')) ID
          option(value='IL' selected=(user != null && user.state === 'IL')) IL
          option(value='IN' selected=(user != null && user.state === 'IN')) IN
          option(value='KS' selected=(user != null && user.state === 'KS')) KS
          option(value='KY' selected=(user != null && user.state === 'KY')) KY
          option(value='LA' selected=(user != null && user.state === 'LA')) LA
          option(value='MA' selected=(user != null && user.state === 'MA')) MA
          option(value='MD' selected=(user != null && user.state === 'MD')) MD
          option(value='ME' selected=(user != null && user.state === 'ME')) ME
          option(value='MI' selected=(user != null && user.state === 'MI')) MI
          option(value='MN' selected=(user != null && user.state === 'MN')) MN
          option(value='MO' selected=(user != null && user.state === 'MO')) MO
          option(value='MS' selected=(user != null && user.state === 'MS')) MS
          option(value='MT' selected=(user != null && user.state === 'MT')) MT
          option(value='NC' selected=(user != null && user.state === 'NC')) NC
          option(value='NE' selected=(user != null && user.state === 'NE')) NE
          option(value='NH' selected=(user != null && user.state === 'NH')) NH
          option(value='NJ' selected=(user != null && user.state === 'NJ')) NJ
          option(value='NM' selected=(user != null && user.state === 'NM')) NM
          option(value='NV' selected=(user != null && user.state === 'NV')) NV
          option(value='NY' selected=(user != null && user.state === 'NY')) NY
          option(value='ND' selected=(user != null && user.state === 'ND')) ND
          option(value='OH' selected=(user != null && user.state === 'OH')) OH
          option(value='OK' selected=(user != null && user.state === 'OK')) OK
          option(value='OR' selected=(user != null && user.state === 'OR')) OR
          option(value='PA' selected=(user != null && user.state === 'PA')) PA
          option(value='RI' selected=(user != null && user.state === 'RI')) RI
          option(value='SC' selected=(user != null && user.state === 'SC')) SC
          option(value='SD' selected=(user != null && user.state === 'SD')) SD
          option(value='TN' selected=(user != null && user.state === 'TN')) TN
          option(value='TX' selected=(user != null && user.state === 'TX')) TX
          option(value='UT' selected=(user != null && user.state === 'UT')) UT
          option(value='VT' selected=(user != null && user.state === 'VT')) VT
          option(value='VA' selected=(user != null && user.state === 'VA')) VA
          option(value='WA' selected=(user != null && user.state === 'WA')) WA
          option(value='WI' selected=(user != null && user.state === 'WI')) WI
          option(value='WV' selected=(user != null && user.state === 'WV')) WV
          option(value='WY' selected=(user != null && user.state === 'WY')) WY

      .col-sm-90
        label ZIP:
        input.form-control(name='zip' type='text' value=(user.zip) pattern='[0-9]*' maxlength="5" required)
    .row 
      .col
        label Phone:
        input.form-control(name='phone' type='text' value=(user.phone) pattern="^[1-9]{1}\\d{5}\\d{4}$" required='true')
        div.invalid-feedback Please enter a 10-digit phone number without any dashes or parentheses.
    .row 
      .col(id='po_num_col')
        label PO #:
        input.form-control(name='po_num' type='text' value=(user.po_num))  
    span(style="float: right; padding: 10px 0px 10px 0px;")
      input(type='hidden' name='id' value=(user.id))
      input.btn.btn-primary(type='submit' value=('Update'))