html
  head
    title ProteinCT
    link(rel='stylesheet' href='/css/bootstrap.min.css')
  body
    .container
      nav.navbar.navbar-expand-lg.navbar-light.bg-light
        a.navbar-brand(href='/users/portal') CORPSE
        button.navbar-toggler(type='button' data-toggle='collapse' data-target='#headnav' aria-controls='#headnav' aria-expanded='false' aria-label='Toggle Navigation')
          span.navbar-toggler-icon
        #headnav.collapse.navbar-collapse
          .navbar-nav
          if user
            if user.account_type === "seller"
              a.nav-item.nav-link(href='#') Dashboard
              a.nav-item.nav-link(href='/inventory') Inventory
              a.nav-item.nav-link(href='/users/logout') Logout
            else
              a.nav-item.nav-link(href='#') Dashboard
              a.nav-item.nav-link(href='/payment/checkout') Checkout
              a.nav-item.nav-link(href='/users/logout') Logout
          else
              a.nav-item.nav-link(href='/users/login') Login
              a.nav-item.nav-link(href='/users/register') Register
    .container(style='padding: 15px;')
      != messages('message', locals)
      if errors
        each error, i in errors
          div(class='alert alert-danger') #{error.msg}
      block content
    #footer.container
      br
      hr
      footer
        p Copyright &copy; 2019
  script(src='/jquery/jquery.slim.min.js')
  script(src='/popper/popper.min.js')
  script(src='/js/bootstrap.min.js')