extends layout

block content
  h1(style="text-align: center;") Login
  .container.w-50
    form(method='POST', action='/users/login')
      .row
        .col
          label Email:
          input.form-control(name='email', type='text')
          br
      .row
        .col
          label Password:
          input.form-control(name='password', type='password')
          span
            a(href="/users/forgot" style="float: right; padding: 10px 0px 10px 0px;") Forgot Password?
      .row
        .col
          input.w-100.btn.btn-primary(type='submit', value='Login')
      span(style="float: right; padding: 10px 0px 10px 0px;") Need an account? 
        a(href="/users/register") Register