html(lang="en")
  head
    meta(charset="utf-8")
    script(src='https://js.stripe.com/v3/')
  body
  script. 
    var stripe = Stripe('pk_test_5pvfMynil20Hgop2gjxxrAw90036Py8edd');

    window.onload = stripe.redirectToCheckout({
        sessionId: '#{session.id}'
      }).then(function (result) {
        console.log(result.error.message)
      });



    