extends layout

block content
  h1 Dashboard
  body Howdy!
  form(method='POST', action='/order/create_invoice_download')
      input.btn.btn-primary(type='submit', value='Create Invoice Download')
  form(method='POST', action='/order/create_invoice_email')
    input.btn.btn-primary(type='submit', value='Create Invoice Email')