extends layout

block content
  h1 Client Registration
  br
  form.needs-validation(method='POST', action='/users/register' id='form_registration' novalidate)
    .row
      .col
        label First Name:
        input.form-control(name='first_name' type='text' required maxlength='25')
      .col
        label Last Name:
        input.form-control(name='last_name' type='text' required maxlength='25')
    .row
      .col
        label Email:
        input.form-control(name='email' type='email', required maxlength='50') 
    .row
      .col
        label Password:
        input.form-control(name='password' id='password' type='password' required)
        div.invalid-feedback The password does not match.
    .row
      .col
        label Confirm Password:
        input.form-control(name='password2' id="password2" type='password' required)
    br
    h2 Business Info
    .row
      .col 
        label Organization:
        input.form-control(name='organization' type='text' required maxlength='25')
      .col 
        label Department:
        input.form-control(name='department' type='text' required maxlength='25')
      .col 
        label Research Area:
        select.custom-select(name='research_area' id='research_area')
          option(value='' selected)
          option(value='cancer') Cancer
          option(value='neuroscience') Neuroscience
          option(value='stem_cell') Stem Cell
          option(value='virology') Virology
          option(value='epigenetics') Epigenetics
          option(value='cardiovascular_disease') Cardiovascular Disease
    .row
      .col 
        label Address Line 1:
        input.form-control(name='address1' type='text' required maxlength='40')
    .row
      .col 
        label Address Line 2:
        input.form-control(name='address2' type='text' maxlength='40')
    .form-row
      .col
        label City:
        input.form-control(name='city' type='text' maxlength='25' required)
        div.invalid-feedback We need to know where you live!
      .col-2
        label State:
        select.custom-select(name='state' required)
          option(selected disabled hidden)
          option(value='AL') AL
          option(value='AK') AK
          option(value='AR') AR
          option(value='AZ') AZ
          option(value='CA') CA
          option(value='CO') CO
          option(value='CT') CT
          option(value='DC') DC
          option(value='DE') DE
          option(value='FL') FL
          option(value='GA') GA
          option(value='HI') HI
          option(value='IA') IA
          option(value='ID') ID
          option(value='IL') IL
          option(value='IN') IN
          option(value='KS') KS
          option(value='KY') KY
          option(value='LA') LA
          option(value='MA') MA
          option(value='MD') MD
          option(value='ME') ME
          option(value='MI') MI
          option(value='MN') MN
          option(value='MO') MO
          option(value='MS') MS
          option(value='MT') MT
          option(value='NC') NC
          option(value='NE') NE
          option(value='NH') NH
          option(value='NJ') NJ
          option(value='NM') NM
          option(value='NV') NV
          option(value='NY') NY
          option(value='ND') ND
          option(value='OH') OH
          option(value='OK') OK
          option(value='OR') OR
          option(value='PA') PA
          option(value='RI') RI
          option(value='SC') SC
          option(value='SD') SD
          option(value='TN') TN
          option(value='TX') TX
          option(value='UT') UT
          option(value='VT') VT
          option(value='VA') VA
          option(value='WA') WA
          option(value='WI') WI
          option(value='WV') WV
          option(value='WY') WY
      .col-4
        label ZIP:
        input.form-control(name='zip' type='text' pattern='[0-9]*' maxlength="5" required)
    .row 
      .col
        label Phone:
        input.form-control(name='phone' type='text' pattern="^[1-9]{1}\\d{5}\\d{4}$" required='true')
        div.invalid-feedback Please enter a 10-digit phone number without any dashes or parentheses.    
    br
    input.btn.btn-primary(type='submit' value='Submit' style="float: right;")
    script(src='/js/regval.js')