extends layout

block content
  h4 New Orders
  .table-responsive
    table.table.table-striped
      thead
        tr
          th(scope="col" style="width: 10%;") Updated
          th(scope="col" style="width: 15%;") Name/Org
          th(scope="col" style="width: 10%;") Total
          th(scope="col" style="width: 10%;") Status
          th(scope="col" style="width: 10%;")
      tbody
        if orders
          each order in orders
            if order.state == "NEW"
              tr
                -var date = (new Date(order.updatedAt)).toLocaleString('en-US', { month: 'long', day: '2-digit', year: 'numeric' });
                td=date
                td
                  b=order.user.first_name + " " + order.user.last_name
                  |#[br]
                  =order.user.organization
                td="$"+order.amount
                td=(order.state).charAt(0) + (order.state).substring(1, order.state.length).toLowerCase()
                td
                  form(method="GET" action="/order/view/"+order.id style="margin-right: 5px; float:left;")
                    button.btn.btn-primary(type="submit")
                      span.far.fa-eye.fa-sm